{% extends "base.html" %}
{% load  staticfiles %}
<html>
<head>
  {% block extra_head %}
  <!--<script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>
  <meta charset="utf-8">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/style_week.css' %}" rel="stylesheet" type="text/css">
  {% endblock %}
  <title>Let's meet !</title>
</head>

<body>
  {% block content %}
  <!-- 建一個下拉式選單的部分 -->
  <div class="custom-select" style="width:300px;">
  <select>
    <option value="0">Choose Mode:</option>
    <option value="1">Specific Date</option>
    <option value="2">Days of the Week</option>
  </select>

  <script type="text/javascript">
    var x, i, j, selElmnt, a, b, c;
    /* Look for any elements with the class "custom-select": */
    x = document.getElementsByClassName("custom-select");
    for (i = 0; i < x.length; i++) {
      selElmnt = x[i].getElementsByTagName("select")[0];
      /* For each element, create a new DIV that will act as the selected item: */
      a = document.createElement("DIV");
      a.setAttribute("class", "select-selected");
      a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
      x[i].appendChild(a);
      /* For each element, create a new DIV that will contain the option list: */
      b = document.createElement("DIV");
      b.setAttribute("class", "select-items select-hide");
      for (j = 1; j < selElmnt.length; j++) {
        /* For each option in the original select element,
        create a new DIV that will act as an option item: */
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
            /* When an item is clicked, update the original select box,
            and the selected item: */
            var y, i, k, s, h;
            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
            h = this.parentNode.previousSibling;
            for (i = 0; i < s.length; i++) {
              if (s.options[i].innerHTML == this.innerHTML) {
                s.selectedIndex = i;
                h.innerHTML = this.innerHTML;
                y = this.parentNode.getElementsByClassName("same-as-selected");
                for (k = 0; k < y.length; k++) {
                  y[k].removeAttribute("class");
                }
                this.setAttribute("class", "same-as-selected");
                if ( $( ".select-selected" ).text() == "Specific Date" ) {
                  $( "#selectable" ).empty();
                  var add = 0
                  var thatDay = moment().startOf('isoWeek').add(add, 'days').format('MM/DD_ddd')
                  var thatDayID = moment().startOf('isoWeek').add(add, 'days').format('MM-DD_ddd')
                  var lastMon = moment().startOf('isoWeek').add(5, 'week').format('MM/DD_ddd')
                  var today = moment().format('MM/DD_ddd')
                  var dd = "<li id='" + thatDayID + "'>" + thatDay.substr(6,3) + "<br><span class='date' style='font-size: 18px;'>" + thatDay.substr(0,5) + "</span></li>"
                  while ( thatDay != lastMon ) {
                    $( "#selectable" ).append(dd);
                    if ( Math.round(add%7) == 6 ) {
                      $( "#selectable" ).append("<br>");
                    };
                    add++
                    thatDay = moment().startOf('isoWeek').add(add, 'days').format('MM/DD_ddd');
                    thatDayID = moment().startOf('isoWeek').add(add, 'days').format('MM-DD_ddd')
                    dd = "<li id='" + thatDayID + "'>" + thatDay.substr(6,3) + "<br><span class='date' style='font-size: 18px;'>" + thatDay.substr(0,5) + "</span></li>"
                  };
                } else if ( $( ".select-selected" ).text() == "Days of the Week" ) {
                  $( "#selectable" ).empty();
                  $( "#selectable" ).append("<li id='Mon' style='height: 120px;'>Mon</li>");
                  $( "#selectable" ).append("<li id='Tue' style='height: 120px;'>Tue</li>");
                  $( "#selectable" ).append("<li id='Wed' style='height: 120px;'>Wed</li>");
                  $( "#selectable" ).append("<li id='Thu' style='height: 120px;'>Thu</li>");
                  $( "#selectable" ).append("<li id='Fri' style='height: 120px;'>Fri</li>");
                  $( "#selectable" ).append("<li id='Sat' style='height: 120px;'>Sat</li>");
                  $( "#selectable" ).append("<li id='Sun' style='height: 120px;'>Sun</li>");
                };
                break;
              }
            }
            h.click();
        });
        b.appendChild(c);
      }
      x[i].appendChild(b);
      a.addEventListener("click", function(e) {
        /* When the select box is clicked, close any other select boxes,
        and open/close the current select box: */
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
    }

    function closeAllSelect(elmnt) {
      /* A function that will close all select boxes in the document,
      except the current select box: */
      var x, y, i, arrNo = [];
      x = document.getElementsByClassName("select-items");
      y = document.getElementsByClassName("select-selected");
      for (i = 0; i < y.length; i++) {
        if (elmnt == y[i]) {
          arrNo.push(i)
        } else {
          y[i].classList.remove("select-arrow-active");
        }
      }
      for (i = 0; i < x.length; i++) {
        if (arrNo.indexOf(i)) {
          x[i].classList.add("select-hide");
        }
      }
    }

    /* If the user clicks anywhere outside the select box,
    then close all select boxes: */
    document.addEventListener("click", closeAllSelect);
  </script>
  </div>

  <form action="." method="get" id="myform">
    <input type="text" name="eventName" placeholder="New Event" id="eventName">
    <span class="textContent">create by:</span><input type="text" name="owner" placeholder="Event Owner" id="owner">
    <input type="submit" value="Click me" id="submit">  <!--onclick="send()"-->

    
    <ol id="selectable">
    <script type="text/javascript">
      var add = 0
      var thatDay = moment().startOf('isoWeek').add(add, 'days').format('MM/DD_ddd')
      var thatDayID = moment().startOf('isoWeek').add(add, 'days').format('MM-DD_ddd')
      var lastMon = moment().startOf('isoWeek').add(5, 'week').format('MM/DD_ddd')
      var today = moment().format('MM/DD_ddd')
      var dd = "<li id='" + thatDayID + "'>" + thatDay.substr(6,3) + "<br><span class='date' style='font-size: 18px;'>" + thatDay.substr(0,5) + "</span></li>"
      while ( thatDay != lastMon ) {
        $( "#selectable" ).append(dd);
        if ( Math.round(add%7) == 6 ) {
          $( "#selectable" ).append("<br>");
        };
        add++
        thatDay = moment().startOf('isoWeek').add(add, 'days').format('MM/DD_ddd');
        thatDayID = moment().startOf('isoWeek').add(add, 'days').format('MM-DD_ddd')
        dd = "<li id='" + thatDayID + "'>" + thatDay.substr(6,3) + "<br><span class='date' style='font-size: 18px;'>" + thatDay.substr(0,5) + "</span></li>"
      };
    </script>
    </ol>

    <span id="amount" class="textContent"></span>
    <input type="hidden" name="dayChosen" value="" id="dayChosen">
    <input type="hidden" name="timeChosen" value="" id="timeChosen">
    <input type="hidden" name="randUrl" value="" id="randUrl">
    <div id="slider-range"></div>
  </form>

  <script>  
  // Create Selectable Button //
  $( function() {
    $( "#selectable" ).bind("mousedown", function(evt) {
    evt.metaKey = true;
    }).selectable({
      selecting: function() {
        $( ".ui-selectee" , this ).each(function() {
          $( this ).children( ".date" ).css('background', $( this ).css('background'));
          $( this ).children( ".date" ).css('color', $( this ).css('color'));
        });
      },
      unselecting: function() {
        $( ".ui-selectee" , this ).each(function() {
          $( this ).children( ".date" ).css('background', $( this ).css('background'));
          $( this ).children( ".date" ).css('color', $( this ).css('color'));
        });
      },
      stop: function() {
        //alert($( this ).find( ".date" ).id());
        //$( ".date" ).css('background', $( ".date" ).parent().css('background'))
        //$( ".date" ).css('color', $( ".date" ).parent().css('color'))
        var dayChosen = [];
        $( ".ui-selected" , this ).each(function() {
          //$( this ).children( ".date" ).css('background', $( this ).css('background'))
          //$( this ).children( ".date" ).css('color', $( this ).css('color'))
          var id = $( this ).attr('id')
          dayChosen.push( id );
          $( "#dayChosen" )[0].value = dayChosen;
        });
        $( ".ui-selectee" , this ).each(function() {
          $( this ).children( ".date" ).css('background', $( this ).css('background'));
          $( this ).children( ".date" ).css('color', $( this ).css('color'));
        });
      }
    });
  } );

  // Create Slider //
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 24,
      values: [ 9, 17 ],
      slide: function( event, ui ) {
        $( "#amount" ).text( ui.values[ 0 ] + ":00 - " + ui.values[ 1 ] + ":00" );
        var timeChosen = [];
        for (var hour = ui.values[ 0 ]; hour <= ui.values[ 1 ]; hour++) {
          timeChosen.push( hour + ":00" );
        };
        $( "#timeChosen" )[0].value = timeChosen;
      }
    });
    $( "#amount" ).text( $( "#slider-range" ).slider( "values", 0 ) +
      ":00 - " + $( "#slider-range" ).slider( "values", 1 ) + ":00" );
    if ($( "#timeChosen" )[0].value == "") {
      var timeChosen = [];
      for (var hour = $( "#slider-range" ).slider( "values", 0 ); hour <= $( "#slider-range" ).slider( "values", 1 ); hour++) {
        timeChosen.push( hour + ":00" );
      };
      $( "#timeChosen" )[0].value = timeChosen;
    };
  } );

  // 防呆 //
  $( function() {
    $( "#submit" ).bind("mousedown", function(evt) {
      if ($( "#dayChosen" )[0].value == "") {
        alert("記得選填日期喔！");
      };
    })
  } );

  // Generate Random URL //
    var randUrl = "user/";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
    for (var i = 0; i < 10; i++) {
      randUrl += possible.charAt(Math.floor(Math.random() * possible.length));
    };
    
    //document.getElementById("randUrl").value = randUrl;  /** 要加[0]才會一樣！ **/
    $( "#randUrl" )[0].value = randUrl

  </script>
  
{% endblock %}
</body>
</html> 
